@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:#181A2A;
}

.lottie svg{
  width: 100px !important;
  height: 100px !important;
  cursor: pointer;
}

.slick-dots {
  bottom: 23px !important;
}

.slick-dots li.slick-active button:before {
  color: white!important;
}

.header{
  z-index: -1;
  background-color: #1d1616; 
  background-blend-mode: screen;

}